.rajdhani {
  font-family: "Rajdhani", sans-serif;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-style: normal;
}

.containerCustom {
  width: 1200px;
  padding: 70px 80px;
}
